.container {
    margin: 20px 0;
    width: 100%;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    color: #646cff;
    font-weight: bold;
}

.error {
    color: #ff4444;
    font-weight: bold;
}

.output {
    width: 100%;
}

.textArea {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #333;
    background-color: #a1a1a1;
    color: #fff;
    font-family: monospace;
    resize: vertical;
}

@media (prefers-color-scheme: light) {
    .textArea {
        background-color: #ffffff;
        color: #213547;
        border-color: #888;
    }
}