.wrapper {
    display: inline-block;
    margin: 5px;
    width: 128px;
}

.image {
    border-style: solid;
    border-width: 2px;
}

.before {
    border-color: red;
}

.after {
    border-color: blue;
}

.last {
    margin-top: -1px;
    margin-left: -1px;
    border-width: 3px;
}