.image {
    border-style: solid;
    border-width: 2px;
}

.before {
    border-color: var(--mantine-color-red-9);
}

.after {
    border-color: var(--mantine-color-blue-9);
}

.last {
    margin-top: -1px;
    margin-left: -1px;
    border-width: 3px;
}